* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff-roboto;
	font-size: $fs-sm;
	line-height: $lh;
	color: $text;
	background-color: $white
}

img {
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	@media all and (min-width: $sm) {
		padding-top: 31px;
	}

	@media all and (min-width: $md) {
		padding-top: 61px;
	}

	@media all and (min-width: $xxl) {
		padding-top: 81px;
	}

	.footer {
		margin-top: auto
	}
}