h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-quick;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0
}

h1, .h1 {
	font-size: 48px;
	line-height: 1.25;
	font-family: 'Quicksand', sans-serif;
	font-weight: $fw-light;
	color: $headings;

	@media all and (min-width: $lg) {
	}
}

.h2-wrapp {
	.subtitle {
		font-family: $ff-roboto;
		font-weight: $fw-medium;
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: $ls01;
		text-transform: uppercase;
		color: $headings;
		margin-bottom: 27px;
		text-align: center
	}

	h2, .h2 {
		font-family: $ff-quick;
		font-weight: $fw-medium;
		font-size: 36px;
		line-height: 1.25;
		color: $headings;
		text-align: center;

		span {
			font-weight: $fw-bold;
		}

		@media all and (min-width: $lg) {
		}
	}
}

h3, .h3 {
	font-family: $ff-quick;
	font-weight: $fw-medium;
	font-size: 24px;
	line-height: 1.25;
	color: $headings
}

h4, .h4 {
	font-family: $ff-quick;
	font-weight: $fw-light;
	font-size: 48px;
	line-height: 1.25;
	color: $white;

	@media all and (min-width: $lg) {

	}
}

a {
	display: inline-block;
	transition: color ease-out $tr;
	font-family: $ff-quick;
	font-weight: $fw-medium;
	font-size: 12px;
	line-height: 1.25;
	letter-spacing: $ls05;
	text-transform: capitalize;
	color:	$item;
	text-decoration: none;

	&:hover {
		opacity: $opacity;
	}
}

p {
	font-family: $ff-roboto;
	font-weight: $fw-regular;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: $ls03;
	color: $text;
	margin-top: 0;
	padding: 0;

	&:last-of-type {
		margin-bottom: 0
	}
}

.subtitle {
	font-family: $ff-roboto;
	font-weight: $fw-medium;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: $ls01;
	text-transform: uppercase;
	color: $headings
}

b, strong {
	font-weight: $fw-bold
}