// Grid.
$xs	: 375px;
$sm	: 480px;
$m  : 576px;
$md	: 768px;
$xm	: 888px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1400px;

// Container max-width.
$container-md   : 800px;
$container-xm    : 928px;
$container-lg   : 1030px;
$container-xl   : 1240px;
$container-xxl  : 1480px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff-roboto	: 'Roboto', sans-serif;
$ff-quick	: 'Quicksand', sans-serif;
$ff-os	    : 'Open Sans', sans-serif;

// Font sizes.
$fs-xxs	: 10px;
$fs-xs	: 12px;
$fs-s	: 13px;
$fs-sm	: 15px;
$fs-md	: 18px;
$fs-lg	: 24px;
$fs-xl	: 36px;
$fs-xxl	: 48px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 1.9;
$lh-title	: 1.25;

// Colors.
//common
$white	       : #FFFFFF;
$black	       : #000000;
$accent        : #5E81FE;
//backgrounds
$bg            : #F5F8FF;
$bg-input      : #EFEFF7;
$bg-customers  : linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
$bg-hero       : linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
$bg-stat-light : linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
$bg-stat-dark  : linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
//text
$headings  : #3D4F9F;
$subhead   : #4074F8;
$text      : #676F95;
$subtext   : #DFE2EF;
$item      : #697CA6;
$stat-text : #5E80FF;
$plan-text : #8D96BD;
//buttons
$button-bg-blue   : #D2E1FF;
$button-bg-orange : #FFD7D7;
$orange           : #D43F3F;
$blue             : #3A79FF;
$button-text      : #ADB4D2;
$plan             : #4c85ff;

//letter-spacing
$ls01            :  0.01em;
$ls03            :  0.03em;
$ls05            :  0.05em;

// Others.
$tr      : 0.35s;
$opacity : 0.75;