.plan {
	padding: 170px 0;
	background: $bg;

	&-wrapp {
		width: 100%;
		max-width: 1121px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.subtitle {
		text-align: left;
	}

	h2 {
		text-align: left;
		margin-bottom: 27px;
	}

	&-text-wrapp {
		width: 100%;
		max-width: 413px;
		margin-right: 25px;
	}

	p {
		margin-bottom: 47px;
		padding-right: 15px;
	}

	&-button-wrapp {
		width: 100%;
		max-width: 260px;
		border: 1px solid $button-text;
		display: flex;
		align-items: center;
	}

	&-button-text {
		font-family: $ff-quick;
		font-weight: $fw-medium;
		font-size: $fs-s;
		line-height: 1.2;
		display: flex;
		align-items: center;
		text-align: center;
		color: $button-text;
		margin: 0 auto;
	}
}