.brands {
    margin: 0 -28px;
    border: 1px solid #d8e3fe;

    &-wrapp {
        min-height: 144px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .brand {
        display: flex;
        justify-content: center;
        width: calc( 100% / 2);
        margin-bottom: 20px;
        padding: 0 28px;

        img {
            max-width: auto;
            height: auto;
        }

        @media all and (min-width: $sm) {
            width: calc( 100% / 3 );
        }

        @media all and (min-width: $md) {
            width: calc( 100% / 5 );
            margin-bottom: 0;
        }
    }
}

