.header-form {
    position:fixed;
    display:none;
    align-items:center;
    justify-content:center;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 100;
    overflow-y: auto;
    padding: 20px;
    background: $white;

    .form {
        position: relative;
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: auto 0;
        border-radius: 20px;
        background: #d2e1ff;
    }

    &.opened {
        display: flex;
    }
}

fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
}

legend {
    margin: 0 auto 20px auto;
    font-family: $ff-quick;
    font-size: $fs-lg;
    color: $text;
}

input {
    font-family: $ff-quick;
    font-size: $fs-xs;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    transition: $tr;
    background-color: $bg-input;
    color: $item;

    @media all and (min-width: $md) {
		font-size: $fs-sm;
	}

    @media all and (min-width: $xl) {
		font-size: $fs-md;
	}

    &::placeholder {
        opacity: 1;
    }
}


.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-name {
    display: flex;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.name {
    width: 50%;
    margin-right: 20px;
}

.lastname {
    width: 50%;
}

.email {
    width: 100%;
}

.form-info, .email, .form-name {
    margin-bottom: 10px;
}

.phone {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    font-family: $ff-quick;
    font-size: $fs-xs;
    padding: 10px;
    resize: none;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    color: $item;
    transition: $tr;
    background-color: $bg-input;

    @media all and (min-width: $md) {
		font-size: $fs-sm;
	}

    @media all and (min-width: $xl) {
		font-size: $fs-md;
	}

    &::placeholder {
        opacity: 1;
    }
}