.stats {
	&-wrapp {
		display: flex;
	}

	&-wrapp-item {
		padding: 66px 90px 66px 0;
		width: 50%;
		background: $bg-stat-dark;
		display: flex;
		justify-content: flex-end;
	}

	&-wrapp-item.alt {
		background: $bg-stat-light;
		justify-content: flex-start;
		padding: 66px 0 66px 90px;

		.stats-inner {
			align-items: flex-start;
		}

		.stats-num {
			color: $stat-text;
		}

		.stats-text {
			color: $stat-text;
			text-align: left;
		}
	}

	&-inner {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
		max-width: 260px;
	}

	&-img {
		margin-bottom: 15px;

		img {
			width: 100%;
		}
	}

	&-num {
		font-family: $ff-quick;
		font-weight: $fw-regular;
		font-size: $fs-xxl;
		letter-spacing: $ls03;
		color: $white;
		margin-bottom: 14px;
	}

	&-text {
		font-family: $ff-quick;
		font-weight: $fw-medium;
		font-size: $fs-md;
		line-height: 1.3;
		letter-spacing: $ls03;
		color: $white;
		text-align: right;
	}
}