.hero {
	padding: 172px 0 238px;
	background-image: url( '../img/hero/hero-bg.png' ) no-repeat;
	background-size: contain;
	background-position: center center;

	&-text-wrapp {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 24px;
	}

	.subtitle {
		margin-bottom: 16px;
	}

	.hero-title {
		font-size: 48px;
		line-height: 1.25;
		font-family: 'Quicksand', sans-serif;
		font-weight: $fw-light;
		color: $headings;
		margin-bottom: 25px;

		span {
			font-weight: $fw-bold;
		}
	}

	p {
		padding: 0 33%;
		font-size: $fs-sm;
		text-align: center;
	}
}
