.blog {
    padding: 50px 0; //104 0 73
	background: $bg;

	@media all and (min-width: $sm) {
	}

	.container.nav {
		position: relative;
	}

	.container.big {
		padding: 0;

		@media all and (min-width: $m) {
			padding: 0 20px;
		}
	}

	.h3-wrapp {
		margin-bottom: 30px; //mb92
	}

	.subtitle {
		margin-bottom: 18px;
	}

	.swiper-blog {
		display: flex;
	}

	.blog-slide {
		display: flex;
		flex-direction: column; //row
		padding: 10px; // 64 41 64 39
		margin-bottom: 40px; //109
		background: $white;
		border: 1px solid #D8E3FE;
		box-shadow: 0px 15px 50px #EFF4FF;
	}

	&-gallery {
		display: flex;
		flex-direction: row; //col
		justify-content: center;
		flex-wrap: wrap;
		width: 100%; //50
		margin-bottom: 20px; //67r
		max-height: 100%; //267
	}

	.gallery-item {
		width: 100%; //267
		height: 100%; //200px
		position: relative;
		margin: 0 0 20px 0; //13r

		&:nth-child( n + 2 ) {
			width: calc( 50% - 10px); //126
			height: 126px;
			margin-right: 10px;
			margin-bottom: 0; //13

			.gallery-loup {
				width: 35px;
				height: 35px;
			}
		}

		&:last-child {
			margin: 0; //mb 0
		}
	}

	.gallery-item {
		&:hover {
			.gallery-loup {
				opacity: 1;
			}
		}
	}

	.gallery-img {
		display: flex;
		object-fit: cover;
		height: 100%;
		border-radius: 5px;
		cursor: pointer;
	}

	.gallery-loup {
		width: 65px;
		height: 65px;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		opacity: 0;
		transition: ease 0.5s;
		cursor: pointer;
	}

	&-info {
		width: 100%; //50
	}

	&-title {
		font-family: $ff-quick;
		font-weight: $fw-regular;
		font-size: $fs-lg; //xl
		line-height: 1.25;
		color: $headings;
		margin-bottom: 10px; //27
		text-align: center; //l
	}

	&-text {
		font-family: $ff-roboto;
		font-weight: $fw-regular;
		font-size: $fs-s; //ss
		line-height: 1.9;
		letter-spacing: $ls03;
		color: $plan-text;
		margin-bottom: 20px; //45
		text-align: center; //l
	}

	&-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header-button {
		display: block;
		margin: 0 20px 0 0; // 0 41 0 0
		width: 113px; //113
		white-space: nowrap; //
	}

	&-link {
		font-family: $ff-quick;
		font-weight: $fw-bold;
		font-size: $fs-s;
		line-height: 1.2;
		color: $button-text;
		text-transform: none;
		letter-spacing: 0;
		text-align: center; //
	}

	.swiper-pagination.blog {
		position: relative;
		padding: 0;
	}

	&-navigation-arrow-right, &-navigation-arrow-left {
		display: none;
		position: absolute;
		top: 50%;
		right: 0;
		cursor: pointer;
		transition: ease $tr;
		background: none;
		border: 0;


		&:hover {
			opacity: $opacity;
		}
	}

	&-navigation-arrow-left {
		left: 0;
		transform: rotate( 180deg );
	}

	.swiper-pagination.blog {
		position: relative;
	}
}



