.modal {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    animation: zoom 0.3s ease-in-out;
    z-index: 100;
    overflow-y: auto;
    margin: auto 0;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal img {
    width: 50%;
    object-fit: cover;
}

.gallery-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.prev-button, .next-button {
    font-family: $ff-roboto;
    width: 40px;
    background: $bg-input;
    color: $accent;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    cursor: pointer;
    transition: ease $tr;

    &:hover {
        opacity: $opacity;
    }
}

.prev-button {
    margin-right: 20px;
}